Function Print must use ()

In [ ]:
#print('hello) syntax error before running the code

SyntaxError: unterminated string literal (detected at line 1) (17208744.py, line 1)

run time error is is begin after excution
example print(hello)

In [ ]:
#print(heelo)

NameError: name 'heelo' is not defined

input function() is input() example

In [6]:
name = input("what is your name")
print("hello" , name)

hello ahmed

we can not use + sign with diffrent types of date must be the same
name +10 is wrong

In [9]:
age =10
int(age) +10

20

how we know data type >>>>>>> type()

In [ ]:
type(age)
flot1=3.2
print(type(flot1))
a = 1+4j
type(a)
b = True

<class 'float'>

bool

varaibles naming rules : no start with number , no words in python bulit in

operators + - * / % ** mode function using %   , power of  **

In [19]:
x=5 
y=3
print(x%y)
print(x**y)

2
125

another operator <=, ==, > = ,   is , is not check the object or  , =! not true, and ,or , not

In [20]:
print(x is y)

False

string index from right to left start with 0 , if index start from end begin with -1

In [ ]:
m="AHMED"
print(m[0],m[-1])
print(m[:])

print(m[:])
print(" ab" +m[1:])
print( "H" in m,len(m))


print(m.find('D'))#SHare index of the number after searsh

A D
AHMED
AHMED
 abHMED
True 5
4

format function

In [14]:
gret ="hello {}"
grat_name=gret.format('mohamed')
print(grat_name)

hello mohamed

lists قابلة للتعديل
غير قابل للتعديل  tuple
اقدر اطبق عليهم جمع ودمج وتغيير عنصر وكل الفانكشن الليبتعمل كده

In [ ]:
#lists
point = [1,2,4]
empty_list=[]
print(point[0])
#nested list
point_ne =[[ 2,3],[1,2,3]]
print(point_ne[0][1])

1
3

In [18]:
days=(1,2,34,5,6,7)
type(days)

tuple

dictionory 
sets