Function Print must use ()

In [ ]:
#print('hello) syntax error before running the code

run time error is is begin after excution
example print(hello)

In [ ]:
#print(heelo)

input function() is input() example

In [ ]:
name = input("what is your name")
print("hello" , name)

we can not use + sign with diffrent types of date must be the same
name +10 is wrong

In [ ]:
age =10
int(age) +10

how we know data type >>>>>>> type()

In [ ]:
type(age)
flot1=3.2
print(type(flot1))
a = 1+4j
type(a)
b = True

varaibles naming rules : no start with number , no words in python bulit in

operators + - * / % ** mode function using %   , power of  **

In [ ]:
x=5 
y=3
print(x%y)
print(x**y)

another operator <=, ==, > = ,   is , is not check the object or  , =! not true, and ,or , not

In [ ]:
print(x is y)

string index from right to left start with 0 , if index start from end begin with -1

In [ ]:
m="AHMED"
print(m[0],m[-1])
print(m[:])

print(m[:])
print(" ab" +m[1:])
print( "H" in m,len(m))


print(m.find('D'))#SHare index of the number after searsh

format function

In [ ]:
gret ="hello {}"
grat_name=gret.format('mohamed')
print(grat_name)

lists قابلة للتعديل
غير قابل للتعديل  tuple
اقدر اطبق عليهم جمع ودمج وتغيير عنصر وكل الفانكشن الليبتعمل كده

In [ ]:
#lists
point = [1,2,4]
empty_list=[]
print(point[0])
#nested list
point_ne =[[ 2,3],[1,2,3]]
print(point_ne[0][1])

In [ ]:
days=(1,2,34,5,6,7)
type(days)

dictionory  with out order

1, 2 مفاتيح وليس ترتيب

In [ ]:
#dic
diction= { 'id':1  , 'password' :123  }
# dunction of dictionary is dict
my_dict = dict([('id', 2), ('password', 321)])
print(my_dict['password'])
#update keys
diction['id']=5
diction['m']=7
print(diction)
print('id' in my_dict )
print(len(my_dict))
print(my_dict.get('password'))
k= diction.keys()
print(k)
diction.update({'sallery':12334})
print(k)
items = diction.items()
print(items)

sets  no repeat objects , use len , in , some function

In [ ]:
fruut=['apple','orange','apple']
print(set(fruut))

union  using   >>  |
intersection   >>  &
diifrence      >>  -
symmetric  diifrence    >> ^
.add   .remove

In [ ]:
set1={'1','2'}
set2= {'2','3'}
print(set1|set2)
print(set1.union(set2))

IF condition

In [ ]:
p= 16
if(p<4):
    print("more than 20")
elif(p>15):
    print('more than 15')


else:
    print("not true")

In [ ]:
age1 = int(input("how old are you"))
if(age1>18):
    print("login sucessfully")
else:
    print('not allowed')    
respon= int(input("what is your age "))
match respon:
    # | like or 
    case 10 | 11:
        print("you are a child")
    case 20:
        print("you are a teenager")   
    # _ like else
    case _ :
        print("can not ditermind you")

for loops for  عدد المرات معروف مسبقا
while غير معروف

In [ ]:
for i in range(7):# range from 0 to 6
    print(i)
for i in range(1,3): # first is 1 last is 2
    print(i)

0
1
2
3
4
5
6
1
2

In [10]:
#list with for loop
capitals =['cairo', 'alex','sohag', 'monchah']

for i in capitals:
    print(i)
#dic with loops
countries = { 'sohag':'elmonchah', 'cairo':'al haram' }
for coun in countries:
    print(coun)
    print("   ")
for c in countries.items():
    print(c)
for f,g in countries.items():
    print(f," : ",g)

cairo
alex
sohag
monchah
sohag

cairo

('sohag', 'elmonchah')
('cairo', 'al haram')
sohag  :  elmonchah
cairo  :  al haram